{% extends "NextAddressBookBundle::base.html.twig" %}

{% block title %}{{contact.nom}} - AddressBook {% endblock %}
{% block contenu %}
          <h1>   {{contact.nom}} </h1>
<div class="contact">
   
    <div class="nom">
       
        <p>
            {{contact.nom|striptags('<br><b><i>')|raw|nl2br}} 
        </p>
  
                    <a href="{{path('next_addressbook_contact_lister')}}">Revenir à la liste</a>
                    </div>
</div>



{% endblock %}
