{% extends "NextAddressBookBundle::base.html.twig" %}
{% import "NextAddressBookBundle::bootstrap.html.twig" as bootstrap %}

{% block title %}NextAddressBookBundle:Contact:listerParGroupe{% endblock %}

{% block body %}
<h1>Welcome to the Contact:listerParGroupe page</h1>
{% endblock %}
