{% extends "::base.html.twig" %}

{% block title %}NextAddressBookBundle:Contact:/listerParSociete{% endblock %}

{% block body %}
<h1>Welcome to the Contact:/listerParSociete page</h1>
{% endblock %}
